body, html {
    background-color: rgb(22, 22, 22);
    background-image: url(Assets/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    overflow: hidden;
}

header {
    background-color: rgb(255, 0, 0);
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
}

img {
    padding: 5px;
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    font-weight: 400;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
}

#code {
    height: 30px;
    width: 98%;
    position: absolute;
    transform: translate(-50%, 0%);
    top: 100px;
    left: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    outline: none;
    overflow-x: hidden;
    font-size: 14pt;
    border: none;
    border-bottom: 1px solid grEy;
    background: transparent
}

#snippets {
    height: 80%;
    width: 98%;
    position: absolute;
    transform: translate(-50%, 0%);
    top: 150px;
    left: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(65, 81, 82);
    outline: none;
    overflow-x: hidden;
    font-size: 14pt;
    border: none;
    background: transparent;
    resize: none;
}